@import "tailwindcss";

@layer base {
  :root {
    --foreground: #03191c;
    --background: #f6fdfe;
    --primary: #26cbe8;
    --secondary: #94d5e6;
    --accent: #6e5dda;
  }
}

@theme inline {
  --background:var(--background);
  --primary: var(--primary);
  --secondary: var(--secondary);
  --accent: var(--accent);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: "Pixelify Sans", "sans-serif";
  --font-text: "DM Sans", "sans-serif";
  --font-weight-normal: 400; 
  --font-weight-bold: 700;
  --text-sm: 0.800rem;
  --text-base: 1rem;
  --text-xl: 1.250rem;
  --text-2xl: 1.563rem;
  --text-3xl: 1.954rem;
  --text-4xl: 2.442rem;
  --text-5xl: 3.053rem; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010809;
    --foreground: #ededed;
    --primary: #17bcd9;
    --secondary: #195b6b;
    --accent: #3625a2;
  }
}


body{
  background: var(--background);
  color: var(--foreground);
}

